Makefile
Makefile.fragments
Makefile.global
Makefile.objects
build
.deps
.libs
autom4te.cache
modules
*.lo
acinclude.m4
aclocal.m4
bcompiler.la
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
